.header {
  position: relative;
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  height: 72px;
  background-color: var(--inputs);
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--main);
}

.active {
  color: var(--button-hover);
}
